# Editor configuration, see http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

[*.js]
indent_size = 2

[*.yaml]
indent_size = 2

[*.md]
indent_size = 4
max_line_length = off
# Trailing whitespaces are useful in MD-styled inline documentation.
trim_trailing_whitespace = false

[*.py]
indent_style = space
indent_size = 2

# NB: Preferred Python formatting in terms of VSCode:
#
#    "python.formatting.provider": "yapf",
#    "python.formatting.yapfArgs": [
#      "--style={based_on_style: google, indent_width: 2, column_limit: 111}"
#    ],
#    "[python]": {"editor.rulers": [112]},